[class*="col-"]{
  /* min-height: 80px; */
  /* background-color: gray; */
  /* border: 1px solid black; */
}
body{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
h1{
  font-size: 1.4em;
  font-weight: 700;
}
h2{
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
h3{
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 65px;
}
p{
  font-size: 0.5em;
  font-weight: 500;
}
a{
  color: white;
  text-transform: uppercase;
  font-size: 0.4em;
  font-weight: 700;
  line-height: 80px;
}
a:hover{
  color: white;
  text-decoration: none;
}
.ms_my_button{
  color: white;
  background-color: #1ABC9C;
  font-weight: 700;
  font-size: 0.8em;
  border: 1px solid #2C3E50;
  padding: 13px 17px
}
.ms_list_line{
  list-style: none;
  display: inline-block;
  padding-inline-start: 0;
}
.ms_list_line li{
  display: inline-block;
  padding: 0 10px;
}
.ms_wrapper_60{
  width: 60%;
  margin: 0 auto;
}

/* header_top */
.ms_header_top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  /* line-height: 80px; */
  height: 80px;
  background-color: #2C3E50;
}
.ms_header_top .container{
  height: 80px;
}
.ms_header_top li a:hover{
  color: #1ABC9C;
  text-decoration: none;
}
/* /header_top */

/* jumbotron */
.ms_jumbotron{
  margin-top: 80px;
  padding: 80px 0;
  background-color: #1ABC9C;
}
.ms_jumbotron img{
  width: 250px;
}
/* -------------------------FANCY STAR-------------------------*/
.ms_fancy_star {
  line-height: 0.5em;
  text-align: center;
  padding: 15px 0 30px 0;
}
.ms_fancy_star span {
  display: inline-block;
  position: relative;
}
.ms_fancy_star span:before,
.ms_fancy_star span:after {
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 5px solid white;
  width: 110px;
}
.ms_fancy_star span:before {
  right: 100%;
  margin-right: 15px;
}
.ms_fancy_star span:after {
  left: 100%;
  margin-left: 15px;
}
/* ------------------------/FANCY STAR-------------------------*/
/* /jumbotron */


/* ms_portfolio */
#ms_portfolio{
  margin-bottom: 65px;
}
#ms_portfolio h2{
  color: #2C3E50;
  margin-top: 65px;
}
#ms_portfolio .ms_fancy_star{
  color: #2C3E50;
}
#ms_portfolio .ms_fancy_star_blue span:before,
#ms_portfolio .ms_fancy_star_blue span:after {
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 5px solid #2C3E50;
  width: 110px;
}

.ms_portfolio_item{
  background-color: #1ABC9C;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
}
.ms_portfolio_item img{
  width: 100%;
}
.ms_portfolio_item .ms_layover{
  position: absolute;
  top: 0;
  left: 14px;;
  width: 93%;
  height: 90%;
  background-color: rgba(26, 188, 156, 0.8);
  opacity: 0;
  border-radius: 8px;
}
.ms_layover i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  cursor: pointer;
}
.ms_portfolio_item:hover .ms_layover{
  opacity: 1;
}
/* /ms_portfolio */

/* ms_about */
#ms_about{
  padding: 80px 0;
  background-color: #1ABC9C;
}
#ms_about p{
  line-height: 30px;
  font-size: 0.4em;
}
#ms_about .row.ms_about_button{
  text-align: center;
  margin-top: 20px;
}
#ms_about .ms_my_button{
  border: 2px solid white;
  font-size: 0.5em;
  font-weight: 500;
  padding: 20px 25px;
}
#ms_about .ms_my_button:hover{
  background-color: white;
}
/* /ms_about */

/* ms_contact */
#ms_contact{
  background: white;
  padding: 80px 0;
}
#ms_contact h2{
  color: #2C3E50;
  margin-top: 15px;
}
#ms_contact .ms_fancy_star{
  color: #2C3E50;
}
#ms_contact .ms_fancy_star_blue span:before,
#ms_contact .ms_fancy_star_blue span:after {
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 5px solid #2C3E50;
  width: 110px;
}
.ms_input_contact{
  margin-top: 40px;
  width: 100%;
  border-bottom: 2px solid #E9ECEF;
}
.ms_input_contact .form-control{
  border: none;
  box-shadow: none;
  padding: 0 0 30px 0;
  color: #6C7585;
  font-size: 0.6em;
  font-weight: 500;
}
#ms_contact .ms_my_button{
  margin-top: 25px;
  font-size: 0.4em;
  font-weight: 500;
  padding: 22px 30px;
  border: none;
}
#ms_contact .ms_my_button:hover{
  background-color: #159A80;
  color: white;
}
/* /ms_contact */

/* ms_footer_top */
.ms_footer_top{
  background-color: #2C3E50;
  padding: 60px 0;
}
.ms_footer_top h4{
  font-size: 0.6em;
  font-weight: 700;
  margin-bottom: 30px;
}
.ms_footer_top a i{
  width: 48px;
  padding: 8px;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 50%;
}
.ms_footer_top a i:hover{
  background-color: white;
  color: #2C3E50;
}
.ms_footer_top p a{
  font-size: 1em;
  font-weight: 500;
  color: #1ABC9C;
  text-transform: capitalize;
  line-height: 15px;
}
.ms_footer_top p a:hover{
  color: #117960;
  text-decoration: underline;
}
/* /footer_top */

/* ms_footer_bottom */
.ms_footer_bottom{
  background-color: #1A252F;
  padding: 30px 0;
  font-size: 0.3em;
  font-weight: 400;
}
/* /ms_footer_bottom */


/* QUERIES */
@media screen and (min-width: 1200px){

}

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (min-width: 768px) and (max-width: 991px){

}

@media screen and (max-width: 767px){

  h3{
    font-size: 0.9em;
  }

}
