[class*="col-"]{
  /* min-height: 80px; */
  /* background-color: gray; */
  /* border: 1px solid black; */
}
body{
  color: white;
}
.ms_list_line{
  list-style: none;
  display: inline-block;
  padding-inline-start: 0px;
}
.ms_list_line li{
  display: inline-block;
  padding: 0 10px;
}
.ms_wrapper_60{
  width: 60%;
  margin: 0 auto;
}

/* header_top */
.ms_header_top{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  line-height: 80px;
  height: 80px;
  background-color: #2C3E50;
}
.ms_header_top .container{
  height: 80px;
}
.ms_header_top .row{
  height: 100%;
}
.ms_header_top [class*="col-"]{
  height: 100%;
}
.ms_header_top h3{
  margin: 0;
  line-height: 80px;
}
/* /header_top */

/* jumbotron */
.ms_jumbotron{
  margin-top: 80px;
  padding: 80px 0;
  background-color: #1ABC9C;
}
.ms_jumbotron img{
  width: 200px;
}
.ms_jumbotron h1{
  margin-top: 0;
}
/* /jumbotron */

/* ms_portfolio */
.ms_portfolio_item{
  background-color: #1ABC9C;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* /ms_portfolio */

/* ms_about */
#ms_about{
  padding: 80px 0;
  background-color: #1ABC9C;
}
/* /ms_about */

/* ms_contact */
#ms_contact{
  background: white;
  padding: 80px 0;
}
/* /ms_contact */

/* ms_footer_top */
.ms_footer_top{
  background-color: #2C3E50;
  padding: 60px 0;
}
/* /footer_top */

/* ms_footer_bottom */
.ms_footer_bottom{
  background-color: #1A252F;
  padding: 30px 0;
}
/* /ms_footer_bottom */


/* QUERIES */
@media screen and (min-width: 1200px){

}

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (min-width: 768px) and (max-width: 991px){

}

@media screen and (max-width: 767px){


}
